name: Rust

on:
  push:
    tags: ["v*"]

jobs:
  build:
    name: Build (${{matrix.target}})
    runs-on: ${{matrix.os}}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-14
            target: aarch64-apple-darwin
            use-cross: false

          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            use-cross: false

          - os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
            use-cross: true

          - os: windows-2022
            target: x86_64-pc-windows-msvc
            use-cross: false

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{matrix.target}}

      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-${{ matrix.target }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Install cross
        if: matrix.use-cross
        run: cargo install cross --locked

      - name: Build
        run: |
          if [ "${{ matrix.use-cross }}" = "true" ]; then
            cross build --release --target ${{ matrix.target }}
          else
            cargo build --release --target ${{ matrix.target }}
          fi
        shell: bash

      - uses: actions/upload-artifact@v4
        with:
          name: neko-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/
